<%= form_with(model: genre, local: true, :class => "table table-hover") do |form| %>
	
	<div class="field">
				
		<div class="field">
		<%= form.label :name, 'Nom' %>
		<%= form.text_field :name %>
	</div>

	<div class="field">
		<%= form.label :age, "Tranche d'âge" %>
		<%= form.text_field :age %>
	</div>

	<div class="field">
		<%= form.label :description, 'Description' %>
		<%= form.text_area(:description, rows: 15)%>
	</div>
	</div>

	<div class="actions">
		<%= form.submit 'Enregistrer' %>
	</div>

<% end -%>