<h1>Liste des genres de manga</h1>

<hr>
<table class="table table-hover">
	<thead>
		
		<th>Nom du genre</th>
		<th>Age ciblé</th>
		<th>Description</th>
	</thead>
	<tbody>
		<% @genres.each do |genre| %>
			<tr>
				
				<td><%= genre.name%></td>
				<td><%= genre.age %> ans</td>
				<td><%= genre.description %></td>
				<td><%= link_to '<button type="button" class="btn btn-primary">
				<strong>Afficher</strong></button>'.html_safe, genre %></td>
				<% if user_signed_in? %>
					<td><%= link_to '<button type="button" class="btn btn-primary">
					<strong>Editer</strong></button>'.html_safe, edit_genre_path(genre) %></td>
					<td><%= link_to '<button type="button" class="btn btn-primary">
					<strong>Supprimer</strong></button>'.html_safe, genre, method: :delete, data: {confirm: 'Etes-vous sûr ?'} %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<% if user_signed_in? %>
	<hr>
	<p>
		<center>
			<%= link_to '<button type="button" class="btn btn-success"><strong>Ajouter un genre</strong>
			</button>'.html_safe, new_genre_path %>
		</center>
	</p>
<% end %>