<h1>Liste des genres de manga</h1>

<table>
	<thead>
		<th>name</th>
		<th>age</th>
		<th>description</th>
	</thead>
	<tbody>
		<% @genres.each do |genre| %>
			<tr>
				<td><%= manga.name%></td>
				<td><%= manga.age %></td>
				<td><%= manga.description %></td>
				<td><%= link_to 'Afficher', manga %></td>
				<td><%= link_to 'Supprimer', manga, method: :delete, data: {confirm: 'Etes-vous sûr ?'} %></td>
			</tr>
		<% end %>
	</tbody>
</table>
