


	<% if user_signed_in? %>


<p class="navbar-text pull-right">
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Editer le profil', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Se deconnecter", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>

</p>


<h1>Liste des mangas</h1>


<tbody>
		
<% @mangas.each do |manga| %>
			<%@genre = Genre.find(manga.genre_id) %>
			<%@image = Image.find(manga.image_id) %>
			<%@auteur = Auteur.find(manga.auteur_id) %>

			
		
		<div class="manga">
			<p>
				<%= image_tag @image.url, alt: @image.name , style:"height: 7%; width: 7%;" %> 	
				<%= manga.title %>
				<%= manga.title_traduction %>
				<%= manga.realise_date %>
				<%= manga.tome_number %> tomes 
				<%= link_to @genre.name , @genre %>
				<%= link_to @auteur.first_name , @auteur %>
				<td><%= link_to '
				<button type="button" class="btn btn-primary"><strong>Afficher</strong></button>
				'.html_safe, manga %></td>
				<td><%= link_to '
				<button type="button" class="btn btn-primary"><strong>Modifier</strong></button>
				'.html_safe, edit_manga_path(manga) %></td>
				<td><%= link_to '
				<button type="button" class="btn btn-primary"><strong>Supprimer</strong></button>
				'.html_safe, manga, method: :destroy, data: { confirm: 'Etes-vous sûr ?' } %></td>

<%= form_tag "/spaces/#{manga.id}", method: "patch" do %>
  <input type="submit" value="Ajouter à mon espace" />
 
<% end %>


 	
			</p>
		</div>

		<% end %>
	</tbody>
	<hr>
<p>
	<center>
		<%= link_to '<button type="button" class="btn btn-success"><strong>Ajouter un manga</strong>
		</button>'.html_safe, new_manga_path %>
	</center>
</p>


<% else %>

<p class="navbar-text pull-right">

  <%= link_to "S'enregistrer", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "S'identifier", new_user_session_path, :class => 'navbar-link'  %>

</p>
<% end %>
