<h1>Liste des mangas</h1>

<table>
	<thead>
		<th>Titre</th>
		<th>Titre traduit</th>
		<th>Date de publication</th>
		<th>Numéro de Tome</th>
	</thead>
	<tbody>
		<% @mangas.each do |manga| %>
			<tr>
				<td><%= manga.title%></td>
				<td><%= manga.title_traduction %></td>
				<td><%= manga.realise_date %></td>
				<td><%= manga.tome_number %> PV</td>
				<td><%= link_to 'Afficher', manga %></td>
				<td><%= link_to 'Supprimer', manga, method: :delete, data: {confirm: 'Etes-vous sûr ?'} %></td>
			</tr>
		<% end %>
	</tbody>
</table>
