<h1>Liste des mangas</h1>


<tbody>
		
<% @mangas.each do |manga| %>
			<%@genre = Genre.find(manga.genre_id) %>
			<%@image = Image.find(manga.image_id) %>
			<%@auteur = Auteur.find(manga.auteur_id) %>

			
		
		<div class="manga">
			<p>
				<%= image_tag @image.url, alt: @image.name , style:"height: 7%; width: 7%;" %> 	
				<%= manga.title %>
				<%= manga.title_traduction %>
				<%= manga.realise_date %>
				<%= manga.tome_number %> tomes 
				<%= link_to @genre.name , @genre %>
				<%= link_to @auteur.first_name , @auteur %>
				<%= link_to 'Afficher', manga %>
				<%= link_to 'Supprimer', manga, method: :delete, data: {confirm: 'Etes-vous sûr ?'} %>

<%= form_tag "/spaces/#{manga.id}", method: "patch" do %>
  <input type="submit" value="Ajouter à mon espace" />
 
<% end %>


 	
			</p>
		</div>

		<% end %>
	</tbody>