<h1>Affichage d'un manga</h1>

<p>Nom : <%= @manga.title %></p>
<p>Description: <%= @manga.title_traduction%></p>
<p>Description: <%= @manga.realise_date%></p>
<p>Description: <%= @manga.tome_number%></p>

<p><%= link_to 'Liste des mangas', mangas_path %></p>
