<%= form_with(model: utilisateurs) do |form| %>
	
	<div class="field">
				
		<div class="field">
		<%= form.label :login, 'Login' %>
		<%= form.text_field :login %>
	</div>

	<div class="field">
		<%= form.label :pw, "Mot de passe" %>
		<%= form.text_field :pw %>
	</div>


	<div class="actions">
		<%= form.submit 'Connexion' %>
	</div>

<% end -%>