<%= form_with(model: auteur, local: true, :class => "table table-hover") do |form| %>

<div class="col-md-6 offset-md-3">.col-md-6 .offset-md-3</div>
  <div class="field">
    <%= form.label :first_name, 'Prénom' %>
    <%= form.text_field :first_name, id: :auteur_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name, 'Nom de famille' %>
    <%= form.text_field :last_name, id: :auteur_last_name %>
  </div>

  <div class="field">
    <%= form.label :birthday, 'Date de naissance' %>
    <%= form.text_field :birthday, id: :auteur_birthday %>
  </div>

  <center>
    <div class="actions">
      <%= form.submit 'Enregistrer', class: "btn btn-success", style: "font-weight:bold" %>
    </div>
  </center>
<% end %>
