<h1>Affichage de l'auteur</h1>

<hr>

<p>
  <strong>Prénom :</strong>
  <%= @auteur.first_name %>
</p>

<p>
  <strong>Nom :</strong>
  <%= @auteur.last_name %>
</p>

<p>
  <strong>Date de naissance :</strong>
  <%= @auteur.birthday %>
</p>

<hr>

<%= link_to '<button type="button" class="btn btn-primary">
<strong>Retour</strong></button>'.html_safe, auteurs_path %>

<% if user_signed_in? %>
	<%= link_to '<button type="button" class="btn btn-success">
	<strong>Modifier</strong></button>'.html_safe, edit_auteur_path(@auteur) %>
<% end %>