<p id="notice"><%= notice %></p>

<p>
  <strong>Prénom :</strong>
  <%= @auteur.first_name %>
</p>

<p>
  <strong>Nom :</strong>
  <%= @auteur.last_name %>
</p>

<p>
  <strong>Date de naissance :</strong>
  <%= @auteur.birthday %>
</p>

<%= link_to '
<button type="button" class="btn btn-success"><strong>Modifier</strong></button>
'.html_safe, edit_auteur_path(@auteur) %>

<%= link_to '
<button type="button" class="btn btn-primary"><strong>Retour</strong></button>
'.html_safe, auteurs_path %>
